<section id="company">
  <div class="wrapper clearfix">
    <h2>COMPANY</h2>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFkV80Q2mLLY5Pt35CIP6QVrjKp6_LmwU&callback=initMap" async defer></script>
    <div id="map">
      <div id="gmap"></div>
      <a href="https://www.google.co.jp/maps/place/%E3%80%92106-0032+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%AF%E5%8C%BA%E5%85%AD%E6%9C%AC%E6%9C%A8%EF%BC%97%E4%B8%81%E7%9B%AE%EF%BC%93%E2%88%92%EF%BC%91%EF%BC%92+%E5%85%AD%E6%9C%AC%E6%9C%A8%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%8A%E3%82%B7%E3%83%A7%E3%83%8A%E3%83%AB%E3%83%BB%E3%83%93%E3%83%AB+5B/@35.6657827,139.7282347,19.43z/data=!4m13!1m7!3m6!1s0x60188b7936b7756f:0xb6e5afa236898b74!2z44CSMTA2LTAwMzIg5p2x5Lqs6YO95riv5Yy65YWt5pys5pyo77yX5LiB55uu77yT4oiS77yR77ySIOWFreacrOacqOOCpOODs-OCv-ODvOODiuOCt-ODp-ODiuODq-ODu-ODk-ODqyA1Qg!3b1!8m2!3d35.665926!4d139.7284604!3m4!1s0x60188b7936b7756f:0xb6e5afa236898b74!8m2!3d35.665926!4d139.7284604" target="_blank" class="mapMore">Google Mapsを見る</a>
    </div>
    <table>
      <tr>
        <th>会社名</th>
        <td>株式会社Popshoot</td>
      </tr>
      <tr>
        <th>設立</th>
        <td>2015年10月15日</td>
      </tr>
      <tr>
        <th>資本金</th>
        <td>
          2億2746万4305円（資本準備金含む）<br>
          平成29年9月30日現在
        </td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>
          よろペイの開発・運営<br>
          ぴたコインの開発・運営<br>
          Wei Walletの開発・運営<br>
          イーサリアム研究所の開発・運営<br>
        </td>
      </tr>
      <tr>
        <th>代表者</th>
        <td>大山敏浩</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>
          〒106-0032 東京都港区六本木7-3-12<br>
          六本木インターナショナルビル5B
        </td>
      </tr>
    </table>
  </div>
</section>
