<section id="contact">
  <div class="wrapper">
    <h2>CONTACT</h2>
    <p class="text">
      株式会社Popshootへのお問い合わせ、<br>
      ご意見につきましては、下記メールアドレスにお願いいたします。
    </p>
    <p class="email">
      info@popshoot.co.jp
    </p>
  </div>
</section>
