<section id="culture">
  <div class="wrapper">
    <h2>CULTURE</h2>
    <ul>
      <li class="clearfix">
        <div class="image"><img src="/assets/images/culture_icon_1.png" width="96" height="88" alt=""></div>
        <dl>
          <dt>強く</dt>
          <dd class="text">僕たちは挑戦します。誰もいままで成しえなかったことに挑み、前例をつくっていきます。“情報収集→思考“の前例主義ではなく、“思考→情報収集“の創造主義へ。だれもが挑戦し続けられる環境があります。</dd>
        </dl>
      </li>
      <li class="clearfix">
        <div class="image"><img src="/assets/images/culture_icon_2.png" width="84" height="76" alt=""></div>
        <dl>
          <dt>優しく</dt>
          <dd class="text">僕たちはお互いを尊重します。一人ひとりの個性が輝く居場所づくりに意を注いでいます。強くないからこそ、弱い人たちの気持ちが分かります。優しくありたい人が、優しくあれる環境があります。</dd>
        </dl>
      </li>
      <li class="clearfix">
        <div class="image"><img src="/assets/images/culture_icon_3.png" width="84" height="76" alt=""></div>
        <dl>
          <dt>健康に</dt>
          <dd class="text">僕たちは健康に気をつかいます。メンバーの多くがジムに通い、美味しいコーヒーを飲み、快適に働いています。食生活にも気を配り、朝は早起きする文化もあります。健康的にのびのび働ける環境があります。</dd>
        </dl>
      </li>
    </ul>
  </div>
</section>
