<section id="team">
  <div class="wrapper">
    <h2>TEAM</h2>
    <ul>
      <% for (var i=0,len=team.length;i<len;i++) { %>
        <%- include('../common/team_human', {
          name: team[i].name,
          job: team[i].job,
          nickname: team[i].nickname,
          image: team[i].image
        }); %>
      <% } %>
    </ul>　　　　　　　　　　　　　　　
  </div>
</section>
