<section id="vision">
  <div class="wrapper">
    <h2>VISION</h2>
    <h3>挑戦する人が称賛される<br class="spShow">社会をつくる</h3>
    <p>
      自分の身近な人がなにかに挑戦し、成功している姿を見て、「あいつができるなら、自分にもできるかもしれない。」そう思ったことはありませんか？<br>
      <br>
      僕たちチームは、どこにでもいる普通の人たちの集まりです。しかし、そんな僕たちの挑戦や小さな成功にも、世界を変える力があると信じています。<br>
      <br>
      僕たちの挑戦が、身近な人たちの勇気となり、さらにその先にいる、まだ出会ったことのないだれかの挑戦のきっかけになるように。そんな想いで、僕たちは今日も挑戦します。
    </p>
  </div>
</section>
