<section id="whatWeDo">
  <div class="bger">
    <div class="wrapper clearfix">
      <h2>WHAT WE DO</h2>
      <div class="right">
        <img src="/assets/images/wei_ss.png" width="398" alt="">
      </div>
      <div class="left">
        <h3>Wei Wallet</h3>
        <div class="desc">
          Wei Walletは「もっともシンプルに、そして安全に」をコンセプトに設計されたイーサリアムウォレットです。また、Github上でのオープンソース開発も行っております。
        </div>
        <a href="http://wei.tokyo/" target="_blank" class="more">特設サイト</a>
      </div>
    </div>
  </div>
  <div class="bger">
    <div class="wrapper clearfix">
      <div class="right">
        <img src="/assets/images/pitacoin_shot.png" width="251"alt="">
      </div>
      <div class="left">
        <h3>ぴたコイン</h3>
        <div class="desc">
          ぴたコインは、次の日のビットコインの価格を予想するアプリです。仮想通貨の初心者から経験者まで、だれでも気軽に遊びながらビットコインについて学ぶことができます。
        </div>
        <a href="https://www.pitaco.in/" target="_blank" class="more">特設サイト</a>
      </div>
    </div>
  </div>
  <div class="bger">
    <div class="wrapper clearfix">
      <div class="right">
        <img src="/assets/images/ethlab_ss.png" width="480" alt="">
      </div>
      <div class="left">
        <h3>EthereumTech Lab. | イーサリアム研究所</h3>
        <div class="desc">
          イーサリアム研究所は、暗号通貨イーサリアムを技術的観点から研究・発信し、それに応じたブロックチェーンまたクリプトエコノミーの未来を考察していくコミュニティーです。
        </div>
        <a href="https://medium.com/the-dapps-community" target="_blank" class="more">サイトへ</a>
      </div>
    </div>
  </div>
  <div class="bger">
    <div class="wrapper clearfix">
      <div class="right">
        <img src="/assets/images/mac_display_getho.png" width="480" alt="">
      </div>
      <div class="left">
        <h3>getho</h3>
        <div class="desc">
          gethoはイーサリアムプライベートノードの立ち上げや、そのノードへデプロイされたスマートコントラクトの検証を容易にする、分散型アプリケーション（DApps）の開発支援ツールです。
        </div>
        <a href="https://getho.io/" target="_blank" class="more">サイトへ</a>
      </div>
    </div>
  </div>
</section>
